.footer__links {
    display: flex;
    min-height: 248px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .footer__links {
        min-height: 18px;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }
}